@model Capstone.Web.Models.Park

@{
    ViewBag.Title = "SurveyConfirmation";
}

<h2>Thank You</h2>
<p>Thanks for participating in our survey!</p>
<p>Check out the park users voted highest on</p>
@using (Html.BeginForm("Detail", "Home"))
{
    <button>Here</button>
}



